:root {
    --c-text: rgb(255, 255, 255);
    --c-cardBackground: #ffae00;
    --c-fhBackground: #ffae00;

    --s-headerHeight: 100px;
    --s-standardOutline: 1px solid rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--c-text);
    background-color: black;
    overflow-x: hidden;

    margin: 0;
    padding: 0;

    font-family: "span", serif;
    font-weight: 400;
    font-style: normal;
}


/* - - - - - A Tags - - - - -*/
a {
    text-decoration: underline 1px;
    text-underline-offset: 2px;
    color: white;
}
a:hover {
    text-decoration: underline 2px;
    text-underline-offset: 2px;
}


/* - - - - - Header - - - - -*/
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: var(--s-headerHeight);

    /* background: var(--c-fhBackground); */
    /* background-color: rgba(10, 10, 10, 0.096); */
    background-image: url('/img/pic/header_background.jpg');
    background-repeat: no-repeat;
    /* backdrop-filter: blur(10px); */
    width: 100%;

    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4);
}

#hDark {
    background: rgba(26, 13, 0, 0.85);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;

    height: 100%;
}

.hWrapper {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hLogo {
    height: calc(var(--s-headerHeight)/2);
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#hLogo img {
    height: 100%;
}

#hStuff {
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    width: 75px;
}

header nav {
    padding: 0 15px;
    margin: 15px 0;
    display: flex;
    /* gap: 36px; */
    gap: 20px;

    background-color: rgba(26, 13, 0, 0.55);
    border-radius: 10px;

    font-size: large;

    outline: var(--s-standardOutline);
    outline-color: rgba(26, 13, 0, 0.35);
    outline-width: 3px;
    outline-style: inset;
}

header nav a {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 17px;
    margin-bottom: 19px;

    text-align: center;

    text-decoration: none;

    width: 115px;

    transition: font-size 0.11s ease-out;
}

header nav a:hover {
    font-size: 1.1em;

    text-decoration: none;
}

@media (max-width: 1300px) {
    #hLogoMedium {
        display: none;
    }
}

@media (max-width: 740px) {
    header {
        display: none;
    }
}


/* - - - - - Footer - - - - -*/
main {
    min-height: 100vh;
    
    background-color: rgb(56, 27, 0);
    background-image: url('/img/pic/main_background.jpg');
    background-size: contain;
    background-attachment: fixed;
    background-position: center top;

    position: relative;
    z-index: 2;
}

#mainDark {
    background: rgba(26, 13, 0, 0.767);
    position: fixed;
    top: 100;
    height: 100vh;
    width: 100%;
    z-index: -1;
}




/* - - - - - Footer - - - - -*/
footer {
    display: flex;
    justify-content: center;
    gap: 8%;

    padding: 20px;

    text-align: center;
    background-color: var(--c-fhBackground);

    position: relative;
    z-index: 3;

}

footer div {
    min-width: 70px;
}