/* - - - - - SCROLL ANIM - - - - - */
@media (min-width: 951px) {
    .scHiddenRight {
        /* opacity: 0; */
        transform: translateX(75%);
        transition: all 0.7s ease-out;
    }
}

.scHiddenBottom {
    opacity: 0.5;
    transform: translateY(50%);
    transition: all 0.5s ease;
}

.scShow {
    opacity: 1;
    transform: translateX(0);
}


/* - - - - - HEADER - - - - - */
header {
    top: -100px;
    transition: top 0.2s ease;
}

#underline {
    position: absolute;
    bottom: calc(var(--s-headerHeight)/5);
    left: 15px;
    z-index: 1;

    height: 58px;
    width: 150px;
    opacity: 0;


    background-image: url('../img/pic/header_underline.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.2s linear;
}


/* - - - - - START SCREEN - - - - - */
#startScreen {
    z-index: -1;
    height: 100vh;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-image: url('../img/pic/start_background.jpg');
    background-size: cover;
    background-position: center top;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startScreen img {
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
}

#darkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 15, 0, 0.65);
}

#startOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(27, 16, 1, 0.6);
    transition: opacity 2.3s ease;
    
    z-index: 3;
}

#ssCenter1 {
    position: absolute;
    text-align: center;
    margin-bottom: 600px; /* edit later ? */
    max-width: 80vw;

    z-index: 3;
}

#ssCenter2 {
    position: absolute;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 600px; /* edit later ? */
    max-width: 121vw;

    z-index: 3;
}

#ssLabel {
    width: 650px;
    max-width: 121vw;

    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#animationPlayer {
    z-index: 4;
    opacity: 0;
    transform: scale(0);
    /* transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; */
    transition: opacity 0.5s ease-in-out;
}

#ssCorner {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 600px;
    height: 600px;
}

#ssMid {
    position: absolute;
    bottom: 5vh;

    text-align: center;
    height: 100px;
    width: 100px;

    z-index: 3;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    border-radius: 50%;

    transition: all 0.1s ease-out;
    overflow: hidden;
}

#ssMid img {
    margin-top: 25px;
    width: 60px;
    transition: all 0.11s ease-out;
}

/* @media (min-width: 721px) { */
    #ssMid:hover {
        outline-color: white;
        outline-style: solid;
    }

    #ssMid:hover img {
        margin-top: 30px;
    }
/* } */

.parallax {
    position: absolute;

    background-size: contain;
    background-position: center;
    will-change: transform;
}

#ssBackground {
    background-image: url('../img/pic/start_brett.png');
    
    height: 900px;
    width: 1500px;

    z-index: 1;
}

#ssForeground {
    background-image: url('../img/pic/start_fl.png');
    
    
    width: 800px;
    height: 800px;
    
    z-index: 2;
}

main {
    background: none;
}



#mainBackgroundImg {
    background-color: rgb(56, 27, 0);
    background-image: url('../img/pic/main_background.jpg');
    background-size: contain;
    background-position: center top;
}

#mainBackgroundDark {
    background: var(--c-background);
}

section {
    min-height: 300px;
    width: 100%;
    padding-top: var(--s-headerHeight);
}


/* - - - - WILLKOMMEN - - - - */
#willkommen{
    margin-top: 100vh;
    overflow: hidden;
}

#willkommen #wiGrid {
    display: grid;
    background-color: black;
}

@media (min-width: 741px) {
    #willkommen {
        height: calc(100vh - var(--s-headerHeight));
    }

    #wiGrid {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);
        height: 100%;
    }

    #willkommen .wiGridItem {
        position: relative;
        overflow: hidden;
    }
}

@media (max-width: 740px) {
    #willkommen {
        padding-top: 0;
    }
    
    #wiGrid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        /* height: calc(200vh - 200px); */
        height: 200vh;
    }
    #wiGridItem3 {
        grid-row: 4;
    }
}

#willkommen .wiGridItem {
    backdrop-filter: blur(5px);
    
    min-width: 300px;
    min-height: 300px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#willkommen .wiGridImg {
    /* width: 100%; */
    /* height: 100%; */
    height: calc(110vh);
    object-fit: cover;

    transform: translate3d(0, 0, 0);
}

#willkommen .glow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgba(143, 58, 9, 0.6) 0%, rgba(0,0,0,0) 100%);
}

#willkommen .wiGridIcon {
    height: 200%;
    filter: blur(15px) brightness(0.35);
    bottom: -25%;
    position: absolute;
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
}

#willkommen .textContainer {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: larger;
    text-align: center;
}




/* - - - - SPEISEN - - - - */
#speisen {
    text-align: center;
    display: flex;
    justify-content: center;
}

@media (min-width: 951px) {
    #speisen {
        height: 1000px;
    }

    #spWrapper {
        padding-top: 40px;
        width: 1900px;

        background-image: url('../img/pic/speisen_brett.png');
        background-position-y: 20px;
        background-position-x: calc(50vw - 450px);
        background-size: 1200px 850px;
        background-repeat: no-repeat;
        overflow-x: visible;
    }

    #spText {
        display: flex;
        justify-content: center;
    }

    #spText div {
        width: 700px;
    }

    #spGrid {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .spGridItem {
        width: 400px;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .spTextContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .spGridText {
        padding: 30px;
        background: radial-gradient(ellipse farthest-side at center, rgba(61, 34, 0, 0.6) 40%, rgba(61, 34, 0, 0.3) 75%, transparent 100%);
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .spGridText h1 {
        margin-top: 0;
    }

    .spGridDisplay {
    width: 206px;
    padding: 20px;
    overflow: hidden;
    }

    #spButton {
        width: 130px;
        height: 36px;
        padding: 0;

        cursor: pointer;
        overflow: hidden;

        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
    
        border-radius: 50px;
        border: solid 1px white;
    
        overflow: hidden;
    }

    #spButton:hover {
        outline: solid 1px white;
    }

    #spButton div {
        position: absolute;
        top: 0;
        right: 18px;
        width: 124px;
        height: 36px;
        display: flex;

        transition: all 0.1s ease-out;
    }

    #spButton:hover div {
        right: 5px;
        width: 116px;
    }

    #spButton img {
        height: 16px;
        transform: rotate(-90deg);
        margin-top: 10px;
    }

    #spButton p {
        color: white;
        width: 100px;
        height: 30px;
        margin: 0;
        margin-top: 8px;
        margin-left: 15px;

        font-family: "span", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.11em;

        transition: all 0.1s ease-out;
    }

    #spButton:hover p {
        margin-left: 0px;
    }
}

#speisen .swiper-slide {
    background-color: var(--c-secondary);
    border-radius: 7px;

    width: 200px;
    height: 270px;

    overflow: hidden;
}

#speisen .swiper-slide img {
    height: 55%;
    margin-top: 7px;
}

#speisen .swiper-slide h3 {
    margin: 0;
}

#speisen .swiper-slide p {
    margin: 8px;
}

@media (max-width: 950px) {
    #spText {
        display: none;
    }

    #spGrid {
        display: grid;
        grid-template-rows: 4fr;
        grid-template-columns: 1fr;
    }

    #spGrid div:nth-child(2){
        grid-row: 1;
    }

    #spGrid>div:nth-child(3) {
        padding-top: 50px;
    }

    #spGrid div {
        max-width: 400px;
    }

    .spGridItem {
        margin-top: 30px;
        width: 400px;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .spGridDisplay {
        width: 354px;
        overflow: hidden;
    }

    #speisen .swiper-slide {
        width: 280px;
        height: 360px;
    }

}




/* - - - - STANDORTE - - - - */
#standorte {
    text-align: center;
}

@media (max-width: 950px) {
    .swiper-pagination-bullet {
        background-color: white;
    }

    #stMobil {
        margin-top: 40px;
    }

    #stMobil div {
        width: calc(100% - 120px);
    
        border-radius: 10px;
        padding: 20px;
    }

    #stMobil img {
        display: none;
    }
}

@media (min-width: 951px) {
    #standorte .swiper-wrapper{
        display: flex;
        justify-content: center;
        gap: calc(5% - 10px);
        margin-bottom: 20px;
    }

    #standorte .swiper-slide{
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    }

    #stMobil {
        margin-top: 20px;
    }
    
    #stMobil div {
        width: calc(600px + calc(10% - 20px));
    
        border-radius: 10px;
        max-height: 150px;

        padding: 20px;
        padding-right: 220px;
    }

    #stMobil h2 {
        margin-left: 200px;
    }

    #stMobil p {
        text-align: end;
    }

    #stMobil img {
        width: 300px;
        height: auto;
        top: 50%;
        left: 50%;
        float: right;
        transform: translate(250px, -150px);
        z-index: 1;
    }
}

#standorte .swiper-slide {
    padding: 20px;
    width: 240px;
    height: 320px;

    background-color: var(--c-secondary);
    border-radius: 10px;

    outline: var(--s-standardOutline);
    outline-offset: -8px;
}

#standorte .swiper-slide .spImgWrapper {
    height: 0px;
    width: 0px;

    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    
    background-color: var(--c-primary);
    opacity: 0.5;
    border-radius: 50%;
    backdrop-filter: blur(10%);

    text-align: center;

    transition: all 0.3s ease-in-out;
}

#standorte .swiper-slide:hover .spImgWrapper {
    height: 90px;
    width: 90px;

    position: absolute;
    top: 20px;
}

#standorte .swiper-slide .stIcon {
    height: 76px;
    width: 76px;

    position: absolute;
    top: 27px;
    left: 50%;
    transform: translateX(-50%);
}

#standorte .swiper-slide h2 {
    margin-top: 100px;
}

#stMobil {
    display: flex;
    justify-content: center;
}

#stMobil div {
    outline: var(--s-standardOutline);
    outline-offset: -8px;

    background-color: var(--c-secondary);

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}



/* - - - - GUTSCHEINE - - - - */
#gutscheine {
    height: calc(100vh - 100px);
    margin-bottom: 0;
    text-align: center;
}