.mFix {
    min-height: calc(100vh - 100px);
}

/* - - - - Back - - - - */
#back {
    position: fixed;
    bottom: 5vh;
    left: calc(50% - 50px);

    
    text-align: center;
    height: 100px;
    width: 100px;
    
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    
    border-radius: 50%;
    
    transition: all 0.1s ease-out;
    overflow: hidden;
}

#back img {
    margin-top: 20px;
    margin-right: 10px;
    width: 60px;
    transition: all 0.11s ease-out;
    transform: rotate(90deg)
}

/* @media (min-width: 721px) { */
    #back:hover {
        outline-color: white;
        outline-style: solid;
    }

    #back:hover img {
        margin-right: 15px;
    }
/* } */

/* - - - - Speisen - - - - */
#spContainer {
    width: calc(100% - 40px);

    padding: 20px;
}

@media (min-width: 741px) {
    #spContainer {
        margin-top: 100px;
    }
}

.hFix {
    position: fixed;
    top: 0px;

    margin-top: 100px;
    height: calc(100vh - 199px);
}

#spGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}

#spGrid>div {
    height: 120px;
    background-color: var(--c-secondary);
    transition: transform 0.3s ease;
    cursor: pointer;

    border-radius: 10px;

    display: flex;
    flex-direction: row;

    overflow: hidden;

    margin: 0;
}

#spGrid>div:hover {
    transform: scale(1.05);
}

#spGrid>div:hover img {
    /* background-color: black; */
    transform: translate(-42%, -50%);
}

#spGrid div>div:nth-child(1) {
    display: flex;
    flex-direction: column;

    width: 60%;
    padding: 7px;
}

#spGrid div>div:nth-child(2) {
    width: 40%;
}

#spGrid h3 {
    margin: 0;
}

#spGrid p {
    margin: 0;
}

#spGrid img {
    height: 100%;
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

    transition: all 0.4s ease;
}

/* - - - - Overlay - - - - */
#overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
}

#overlay.active {
    visibility: visible;
    opacity: 1;
}

#overlay-content {
    background: var(--c-secondary);
    /* padding: 20px; */
    border-radius: 15px;
    width: 450px;
    max-width: 90%;
    height: 650px;
    max-height: 90%;
    /* margin-top: 200vh; */
    transition: margin-top 0.25s ease-in-out;

    overflow: hidden;
}

#overlay.active #overlay-content {
    margin-top: 0;
}

#ocCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ocImg {
    height: 300px;
}

#ocHead {
    margin-left: 20px;
}

#ocDesc {
    margin-left: 20px;
}